Repository visjs-community/visjs-network, pull requests merged in 2018-09, with the labels that each got.

#20 micah/19/add french
  lib/network/locales.js
Labels: almende/vis-pr

#23 micah/22/edge arrow support dot file
  examples/network/data/dotLanguage/dotEdgeStyles.html
  lib/network/dotparser.js
Labels: almende/vis-pr, dot-parser

#39 Add penwidth attribute
  examples/data/dotLanguage/dotEdgeStyles/index.html
  examples/data/dotLanguage/dotEdgeStyles/index.js
  lib/network/dotparser.js
Labels: dot-parser
